@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&family=Poppins&display=swap");

/* Set media query */
/* https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  table {
    width: 1400px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}

* {
  font-family: "Open Sans", sans-serif;
}

*:not(button) {
  transition: background-color 0.7s ease-in, color 0.6s ease-in-out;
}

.container {
  position: relative;
  width: device-width;
}

table {
  margin: 3% auto;
  border-collapse: collapse;
}

table caption {
  margin-bottom: 5%;
  font: bolder 3em "Open Sans", sans-serif;
}

table thead,
table tbody {
  font-size: 32px;
}

table tr {
  height: 60px;
}

table thead tr th {
  background-color: black;
  border-right: 1px solid white;
  color: white;
  font-weight: 500;
}

table thead tr th:first-child {
  border-top-left-radius: 30px;
}

table thead tr th:last-child {
  border-top-right-radius: 30px;
  border: none;
}

table tbody tr td:not(:last-of-type) {
  text-align: center;
}

table tbody tr td:last-of-type {
  padding-left: 2%;
}

/*
table caption {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
*/

table tr td {
  height: 50px;
  margin: 0;
  border: 1px dotted rgb(155, 155, 155);
}

table tbody .odd {
  background-color: rgb(241, 241, 241);
}

#trans-mode-btn {
  position: fixed;
  right: 2%;
  bottom: 14%;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 1% 2%;
  margin: 1% 0 0 1%;
}
