@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&family=Poppins&display=swap"); /* normal */

/* Set media query */
/* https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1600px) {
  table {
    width: 1400px;
  }
}
@media (min-width: 1281px) and (max-width: 1600px) {
  table {
    width: 1200px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  table {
    width: 900px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  table {
    width: 700px;
  }
  thead,
  tbody {
    font-size: 24px !important;
  }
  #trans-mode-btn,
  #bigger-text-btn,
  #go-top-btn {
    width: 120px;
    height: 120px;
    font-size: 25px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  table {
    width: 700px;
  }
  #trans-mode-btn,
  #bigger-text-btn,
  #go-top-btn {
    width: 120px;
    height: 120px;
    font-size: 24px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  * {
    font-size: 16px;
  }
  thead,
  tbody {
    font-size: 20px !important;
  }
  table {
    width: 400px;
  }
  #trans-mode-btn,
  #bigger-text-btn,
  #go-top-btn {
    width: 90px;
    height: 90px;
    font-size: 22px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  * {
    font-size: 14px;
  }
  table {
    width: 200px;
  }
  #trans-mode-btn,
  #bigger-text-btn,
  #go-top-btn {
    width: 80px;
    height: 80px;
    font-size: 19px;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Open Sans", sans-serif;
}

*:not(button) {
  transition: background-color 0.7s ease-in, color 0.6s ease-in-out;
}

.container {
  position: relative;
  width: 100%;
}

table {
  margin: 3% auto;
  border-collapse: collapse;
}

table caption {
  margin-bottom: 5%;
  font: bolder 3em "Open Sans", sans-serif;
}

table thead {
  position: sticky;
  top: 5%;
}

table thead,
table tbody {
  font-size: 2em;
}

table tr {
  height: 60px;
}

table thead tr th {
  background-color: black;
  border-right: 1px solid white;
  color: white;
  font-weight: 500;
}

table thead tr th:first-child {
  border-top-left-radius: 30px;
}

table thead tr th:last-child {
  border-top-right-radius: 30px;
  border: none;
  font-style: italic;
}

table tbody tr td:not(:last-of-type) {
  text-align: center;
}

table tbody tr td:last-of-type {
  padding-left: 2%;
  font-style: italic;
}

/*
table caption {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
*/

table tr td {
  height: 50px;
  margin: 0;
  border: 1px dotted rgb(155, 155, 155);
}

table tbody .odd {
  background-color: rgb(241, 241, 241);
}

/* 오류 발생 부분 */

button {
  width: 150px;
  height: 150px;
  font-size: 2em;
}

#trans-mode-btn,
#bigger-text-btn,
#go-top-btn {
  position: fixed;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}

#trans-mode-btn {
  right: 2%;
  bottom: 31%;
  background-color: rgb(65, 65, 65);
}

#bigger-text-btn {
  right: 2%;
  bottom: 18%;
  background-color: rgb(181, 190, 240);
  color: black;
}

#bigger-text-btn[class="bigger"]:hover {
  font-size: 2.5em;
  transition: all 0.5s ease;
}

#bigger-text-btn[class=""]:hover {
  font-size: 1.8em;
  transition: all 0.5s ease;
}

#go-top-btn {
  right: 2%;
  bottom: 5%;
  background-color: black;
}

#go-top-btn:hover {
  background-color: rgb(216, 216, 216);
  color: black;
  transition: all 0.5s ease;
}
